body{
    background: black;
}

h3{
    font-style: italic;
    text-align: center;
}

.row{
    color: #747114;
    background: darkslategrey;
    padding: 15px 5px 3px 10px;
}

.container{
    color: lightblue;
}

#congratulations-div, img{
    /* border-style: none; */
    display: block; 
    margin-left: auto;
    margin-right: auto;

};
